body {
background-color: #B3FFB3;
}

.successbox {
    background-color: #75FF47;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 3px solid green;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
    color: green;
    display: inline-block;
    min-width: 100px;
}

.errorbox {
    background-color: #FFB2B2;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 3px solid red; 
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
    color: #8F0000;
    display: inline-block;
    min-width: 100px;
}

