#nav > ul > li {
float: left;
display: inline;
list-style-type: none;
margin-right:20px;
}

.resulturl {
border-top: 1px solid black;
width: 200px;
display: inline;
float: left;
}

.resultinfo {
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
float: left;
display: inline;
width: 400px;
}

.resultstatus {
float: left;
border-top: 1px solid black;
display: inline;
width: 400px;
}

.resultrow {
border: 1px solid black;
display: table-row;
}

#ordersearchresults {
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
display: table;
}

#orderbox {
border: 1px solid black;
display: table;
width: 98%;
}

#orderleftpanel {
border-right: 1px solid black;
display: table-cell;
width: 400px;
padding-left: 5px;
}

#orderrightpanel {
display: table-cell;
width: 400px;
padding-left: 5px;
}

.paneltitle {
text-align: center;
font-size: x-large;
}

#acctable {
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
width: 1100px;
display: table;
}

.acctablerow {
border-bottom: 1px solid black;
}

.usernum {
border-right: 1px solid black;
width: 150px;
display: table-cell;
padding-left: 5px;
}

.username {
border-right: 1px solid black;
width: 150px;
display: table-cell;
padding-left: 5px;
}

.name {
border-right: 1px solid black;
width: 250px;
display: table-cell;
padding-left: 5px;
}

.role {
border-right: 1px solid black;
width: 175px;
display: table-cell;
padding-left: 5px;
}

.useroption {
width: 300px;
display: table-cell;
padding-left: 5px;
}

.mfhtable {
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
display: table;
}

.mfhrow {
border-bottom: 1px solid black;
}

.mfhname {
width: 250px;
border-right: 1px solid black;
display: table-cell;
padding-left: 5px;
}

.mfhlink {
width: 250px;
border-right: 1px solid black;
display: table-cell;
padding-left: 5px;
}

.mfhmess {
display: table-cell;
padding: 5px;
}

#mfhpageselect {
text-align: center;
}

a:visited {
color: #0000EE;
}

#announcements {
width: 50%;
border-right: 1px solid black;
padding-right: 10px;
float: left;
display: inline-block;
}

#mkanntitle {
text-align: center;
}

.announce {
border-bottom: 1px solid black;
}

.annsubject {
text-align:center;
font-size: xx-large;
}

.announcepostinfo {
font-size: small;
}

.annoptions {
font-size: small;
float: right;
}

.annmessage {
padding-top: 30px;
font-size: large;
}

#b4edit {
display: none;
}

#stats {
width: 40%;
float: left;
margin-left: 5px;
display: inline-block;
}

h2#h2center {
text-align: center;
}

#personaltable {
width: 1300px;
display: table;
border-top: 1px solid black;
}

.personalrow {
display: table-row;
}

.studentname {
display: table-cell;
border-left: 1px solid black;
border-bottom: 1px solid black;
}

.personalname {
display: table-cell;
border-left: 1px solid black;
border-bottom: 1px solid black;
}

.icon1 {
display: table-cell;
border-left: 1px solid black;
border-bottom: 1px solid black;
}

.icon2 {
display: table-cell;
border-left: 1px solid black;
border-bottom: 1px solid black;
}

.icon3 {
display: table-cell;
border-left: 1px solid black;
border-bottom: 1px solid black;
}

.icon4 {
display: table-cell;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
}

.studentnameheader {
font-weight: bold;
display: table-cell;
border-left: 1px solid black;
border-bottom: 1px solid black;
}

.personalnameheader {
display: table-cell;
font-weight: bold;
border-left: 1px solid black;
border-bottom: 1px solid black;
}

.icon1header {
display: table-cell;
font-weight: bold;
border-left: 1px solid black;
border-bottom: 1px solid black;
}

.icon2header {
display: table-cell;
font-weight: bold;
border-left: 1px solid black;
border-bottom: 1px solid black;
}

.icon3header {
display: table-cell;
font-weight: bold;
border-left: 1px solid black;
border-bottom: 1px solid black;
}

.icon4header {
display: table-cell;
font-weight: bold;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
}

.ordertable {
display: table;
}

.orderrow {
display: table-row;
}

.tablecell {
border: 1px solid black;
display: table-cell;
padding: 10px;
}

.tablecell-b {
border: 1px solid black;
display: table-cell;
padding: 10px;
font-weight: bold;
}
